body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: rgba(0, 0, 0, 0.752);
    color: white;
    padding: 10px 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: relative;
}

header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px; 
    font-weight: bold; 
    margin: 0;
    flex-grow: 1; /* Faz o título ocupar o espaço restante */
    text-align: center;
}

.login-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 25px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.login-container h2 {
    font-size: 18px; 
    margin-bottom: 15px; 
}

.login-container label {
    font-size: 14px; 
    margin: 5px 0; 
}

.login-container input {
    font-size: 14px; 
    padding: 6px; 
}

.login-container button {
    font-size: 14px; 
    padding: 8px 12px; 
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 100%;
    text-align: left;
    margin: 10px 0 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    font-size: 14px; 
    color: red;
    display: none;
}

.success-message {
    display: none;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}

#signup-text {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

#signup-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#signup-text a:hover {
    text-decoration: underline;
}

#login-text {
    margin-top: 15px;
    font-size: 14px;
    color: #333;
}

#login-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

#login-text a:hover {
    text-decoration: underline;
}